In [1]:
import pandas as pd
import plotly.express as px

In [2]:
df = pd.read_csv('nba_bet_stat.csv', skiprows=[0,1])
df

,id,date,winLoseNum,sumPointsNum,homeOrAwayPoints,halftime,hendikep,pointsInterval,halftimeAndRegularTime,winByPoints,winnerAndPoints,outcome,invest,prize
0,1.0,2021.12.28.,2,0,1,0,0,0,0,0,0,1,300,1200
1,2.0,2021.12.29.,4,0,0,0,0,0,0,0,0,1,500,1600
2,3.0,2021.12.30.,4,0,0,0,0,0,0,0,0,0,300,1200
3,4.0,2021.12.31.,3,0,1,0,0,0,0,0,0,1,200,740
4,5.0,2022.01.02.,6,0,0,0,0,0,0,0,0,0,200,1830
5,6.0,2022.01.02.,6,0,0,0,0,0,0,0,0,0,200,1435
6,7.0,2022.01.03.,5,0,0,0,0,0,0,2,0,0,200,1675
7,8.0,2022.01.03.,4,0,0,0,0,0,0,0,0,0,200,4040
8,NaN,2022.01.04.,4,0,0,0,0,0,0,0,0,0,200,813
9,NaN,2022.01.04.,4,0,0,0,0,0,0,0,0,1,200,1137
10,NaN,2022.01.04.,4,0,1,0,0,0,0,0,0,0,200,4415
11,NaN,2022.01.05.,5,0,0,0,0,0,0,0,0,0,400,1600
12,NaN,2022.01.05.,1,0,0,0,0,0,0,0,0,0,100,370
13,NaN,2022.01.06.,4,0,0,0,0,0,0,0,0,0,200,871
14,NaN,2022.01.07.,3,0,0,0,0,0,0,0,0,0,100,433
15,NaN,2022.01.07.,3,0,0,0,0,0,0,0,0,0,100,555
16,NaN,2022.01.07.,8,0,0,0,0,0,0,0,0,0,100,1477

<h3>Ennyi pénzt veszítettem a vesztes szelvényekkel összesen:<h3>

In [3]:
lost = int(df.loc[(df['outcome'] == 0), ['invest']].sum())
lost

2500

<h3>Ennyi pénzt nyertem a nyertes szelvényekkel összesen:<h3>

In [4]:
won = int(df.loc[(df['outcome'] == 1), ['prize']].sum())
#levonva a befektetett pénzt
won = won - int(df.loc[(df['outcome'] == 1), ['invest']].sum())
won

3477

<h3>Tehát a teljes nyereség/veszteség ezek alapján:<h3>

In [5]:
won - lost

977

<h3>Csináljunk egy olyan oszlopot, ami azt tárolja el, hogy az adott sorban éppen mennyi volt egyenleg.<h3>